@using ServiceStack
@model IEnumerable<AlertSense.Lumberjack.Contracts.Entities.AdoNetLog>
@{
    ViewBag.Title = "Home Page";
}

<div>
@foreach(var m in Model) {
    <div>
        <p>Message: @m.Message  </p>
    @if(!m.Exception.IsNullOrEmpty()) {
        <p>Exception: @m.Exception</p>
    }
       
    </div>
    
}
</div>

